/*导航菜单*/
nav {
    float: right;
}
nav ul li {
    list-style: none;
    float: left;
}
nav ul li a {
    display: block;
    padding: 7px 12px;
}
/*主内容
#main-container是所有页面内容的容器
*/
#main-container {
    width: 980px;
    margin: 0 auto;
}
div#main {
    clear: both;
}
/*页脚*/
footer {
    /*设置背景色，使页脚突出*/
    background-color: #eee;
    height: 20px;
}
footer #temp-project-name-container {
    float: left;
}